h1 {
    text-align: center;
    color: white;
}

html {
    overflow: hidden;
}

html, body {
    height: 100%;
}

body {
    background-color: #00b8ec;
    background-image:url('../img/background.jpg');
    background-repeat: repeat-x;
    background-position: bottom center;
}

#log {
    background: white;
    margin: 0;
    padding: 0.5em 0.5em 0.5em 0.5em;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    right: 0.5em;
    bottom: 3em;
    overflow: auto;
}

#form {
    padding: 0 0.5em 0 0.5em;
    margin: 0;
    position: absolute;
    bottom: 1em;
    left: 0px;
    width: 100%;
    overflow: hidden;
}

canvas {
    margin: 0 auto;
}

